@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  /* background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); */
}

.navbar{
  /* background-color: aliceblue; */
  color: #233F81;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid royalblue;
  border-radius: 20px;
  font-family:'Times New Roman', Times, serif;
}

.logo{
  width: 80px;
  top: 10px;
  left: 0px;
  position: absolute;
}

.timeOfDay{
  top:5px;
  right:-90px;
  position:absolute;
  font-size:15px;
  height:80px;
  width:80px;
}

header{
  position: absolute;
  font-size: 25px;
}
header a:link{
  text-decoration: none;
}

main{
  top:450px;
  left:270px;
  position: absolute;
  font-size:40px;
  height: 100%;
  width: 400px;
  color: black;
}

footer{
  width: 100%;
  position: relative;
  border-radius: 20px;
  color: #233F81;
  text-align: center;
}

#image{
  position:absolute;
  left:700px;
  top:-250px;
  height:700px;
  width:900px;
}

.navbar-right{
  padding-left: 30px;
  position: relative;
  font-size: 30px;
  left: 1150px;
}

.popup{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  border-radius: 5px ;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 450px;
  background-color: #FFF;
}

.popup-inner .close-btn{
  min-width: 35px;
  min-height: 25px;
  background-color: lightcoral;
  border: none;
  border-radius: 3px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.send-btn-container{
  position: absolute;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.send-btn{
  position: relative;
  left: -15px;
  width: 100px;
  height: 50px;
}

input{
  margin-top: 10px;
  width: 630px;
  height: 40px;
  font-size: 30px;
}

select{
  margin-top: 10px;
  width: 640px;
  height: 50px;
  font-size: 30px;
}

table {
  position: absolute;
  top: 100px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  height: 600px;  
}

table td, table th {
  border: 1px solid #ddd;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: steelblue;
  color: white;
}

@media screen and (max-width:449px) and (orientation: portrait){
  #navbar-right{
    padding-left: 40px;
  }
}

@media screen and (min-width:411px) and (max-width:448px) and (orientation: portrait){
  .navbar-right{
    padding-left: 80px;
  }
  table{
    margin-left: 20px;
  }
}

@media screen and (min-width:320px) and (max-width:350px) and (orientation: portrait){
  .navbar-right{
    padding-left: 15px;
  }
}

@media screen and (min-width:351px) and (max-width:375px) and (orientation: portrait){
  .navbar{
    height: 80px;
    border-bottom: 3px solid royalblue;
  }
  .navbar-right{
    padding-left: 10px;
    position: relative;
    font-size: 16px;
    left: 15px;
  }
  header{
    top: 35px;
    left: 60px
  }
  footer{
    bottom: -670px;
    border-bottom: 3px solid royalblue;
  }
  table{
    margin-left: 0px;
  }
  main{
    top:200px;
    left:20px;
    font-size:15px;
    width: 150px;
  }
  .timeOfDay{
    top:-10px;
    right:-60px;
    height:50px;
    width:50px;
  }
  #image{
    position:absolute;
    left:-30px;
    top:100px;
    height:250px;
    width:380px;
  }
  .popup-inner{
    width: 80%;
    height: 30%;
  }
  .popup-inner .close-btn{
    min-width: 25px;
    min-height: 15px;
  }
  .send-btn{
    left: -38px;
    height: 35px;
  }
  input{
    margin-top: 4px;
    width: 300px;
    height: 20px;
    font-size: 20px;
  }
  select{
    margin-top: 4px;
    width: 310px;
    height: 25px;
    font-size: 20px;
  }
  h2{
    font-size: 12px;
  }
}
@media screen and (min-width: 450px) and (max-width:540px){
  .navbar-right{
    padding-left: 195px;
  }
  table{
    top: 130px;
    margin-left: 28px;
  }
}
@media screen and (min-width: 541px) and (max-width:768px) and (orientation: portrait){
  .navbar-right{
    padding-left: 440px;
  }
  table{
    top: 130px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 789px) and (max-width:1024px){
  .navbar-right{
    padding-left: 700px;
  }
  table{
    top: 130px;
    margin-left: 55px;
  }
}
@media screen and (min-width: 1025px) and (max-width:1920px){
  .logo{
    top: 20px;
    left: 10px;
    width: 170px;
  }

  header{
    top: 70px;
    left: 140px;
    font-size: 50px;
  }

  .navbar{
    height: 170px;
    border-bottom: 5px solid royalblue;
  }
  footer{
    font-size: 20px;
  }
  table{
    top: 250px;
    font-size: 20px;
  }
  table td, table th{
    padding: 15px;
  }
  footer{
    bottom: -720px;
    border-bottom: 5px solid royalblue;
  }
}